{:paths ["src"]
 :deps {
        io.github.kotoba-lang/json-read-value
        {:git/url "https://github.com/kotoba-lang/json-read-value.git"
         :git/sha "ca862d5b6c502e1ee2b780a459ec2aa92197fd3c"}
        io.github.kotoba-lang/json-skip-ws
        {:git/url "https://github.com/kotoba-lang/json-skip-ws.git"
         :git/sha "1e4553644285b53372e0340741501ad68c0803c5"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :main-opts ["-m" "cognitect.test-runner"]}}}
